@tailwind base;
@tailwind components;

@tailwind utilities;

@layer base {
  @import './typography.css';

  html {
    scroll-behavior: smooth;
  }

  .jelly:hover {
    animation: jelly 0.5s;
  }
  @keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.05);
    }
    50% {
      transform: scale(1.05, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }

  details > summary {
    list-style: none;
  }

  .task-list-item::before {
    @apply hidden;
  }

  .task-list-item {
    @apply list-none;
  }

  .footnotes {
    @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
  }

  .csl-entry {
    @apply my-5;
  }
}
