@tailwind base;
@tailwind components;

@tailwind utilities;

@layer base {
  @import './typography.css';

  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-3xl font-bold md:text-6xl;
  }

  h2 {
    @apply text-2xl font-medium md:text-4xl;
  }

  h3 {
    @apply text-xl font-medium md:text-2xl;
  }

  h4 {
    @apply text-lg font-medium md:text-xl;
  }
  body {
    @apply text-base md:text-lg text-gray-800;
  }

  .prose :where(ul li):not(:where([class~='not-prose'] *))::marker {
    font-size: 24px;
  }

  .jelly:hover {
    animation: jelly 0.5s;
  }
  @keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.05);
    }
    50% {
      transform: scale(1.05, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }

  details > summary {
    list-style: none;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #27272a, #27272a, #27272a);
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 3px, 100% 3px;
  }
  .animated-underline-contact {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #27272a, #27272a, #27272a);
    background-size: 100% 12px, 0 12px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  .animated-underline-contact:hover,
  .animated-underline-contact:focus-visible {
    background-size: 0 12px, 100% 12px;
  }
}
